@import '../../../styles/variables.scss';

.AboutMeContainer {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    h1 {
        color: $accent-mainColor;
        font-size: 500%;
    }

    p {
        font-size: 150%;
    }
}

.Text {
    width: 50%;
}

@media only screen and (max-width: 768px) {
    .AboutMeContainer {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }
}
