@import '../../../styles/variables.scss';

.ContactsContainer {
    height: 50vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.Wave {
    position: absolute;
    transform: rotate(180deg);
    margin: -1% 0 0 0;
    z-index: 0;
}

.Granim {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 50vh;
}

.Particles {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 50vh;
}

.MainContainer {
    position: absolute;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BlockMainContainer {
    margin-top: 20vh;
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    h1 {
        color: $background-color;
        width: 100%;
        text-align: center;
    }
}

.BlockContainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.Button {
    padding: 5% 5% 5% 5%;
    height: 100%;
    background: $background-color;
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .Icons {
        color: $accent-mainColor;
    }

    a {
        width: 200px;
        height: 100%;
        font-weight: bolder;
        text-decoration: none;
        color: $accent-mainColor;
        font-size: 200%;
    }
}

.ButtonSocial {
    height: 75px;
    width: 75px;
    background: $background-color;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        font-weight: bolder;
        text-decoration: none;
        color: $accent-mainColor;
        font-size: 200%;
    }
}

@media only screen and (max-width: 1300px) {
    .BlockMainContainer {
        margin-top: 10%;
    }

    .BlockContainer {
        flex-direction: column;
    }

    .BlockItem:first-child {
        margin-bottom: 3%;
    }
}

@media only screen and (max-width: 768px) {
    .ContactsContainer {
        min-height: 550px;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .Granim {
        min-height: 550px;
        position: absolute;
        z-index: -2;
        width: 100%;
        height: 60%;
    }

    .Particles {
        min-height: 550px;
        position: absolute;
        z-index: -2;
        width: 100%;
        height: 60%;
    }

    .MainContainer {
        position: absolute;
        margin-top: 20%;
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .BlockMainContainer {
        height: 100%;
        margin-top: 0;
    }

    .BlockContainer {
        margin-top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;

        h1 {
            color: $background-color;
        }
    }
}
