@import '../../../styles/variables.scss';

.Loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JavaScriptDisabledContainer {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent-mainColor;
}

.Logo {
    width: 80%;
    height: 100%;
}

.MessageContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    h1 {
        font-size: 500%;
        text-align: center;
        color: $background-color;
    }
}

@media only screen and (max-width: 1200px) {
    .MessageContainer {
        h1 {
            font-size: 250%;
        }
    }
}

@media only screen and (max-width: 768px) {
    .MessageContainer {
        h1 {
            font-size: 250%;
        }
    }
}
