@import '../../../styles/variables.scss';

.HomeContainer {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.Granim {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
}

.Particles {
    position: absolute;
    z-index: -2;
    width: 100vw;
    height: 100vh;
}

.AudioPlayer {
    padding: 0 0 1rem 1rem;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.LogoContainer {
    position: absolute;
    height: 70vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.LogoItem {
    width: 100%;
    height: 100%;
}

.Text {
    margin: -3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    color: white;
}

.OutsideText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    color: white;
}

.Wave {
    position: absolute;
    bottom: 0;
    margin: 0 0 -1%;
    min-width: 1400px;
    z-index: 0;
}

@media only screen and (max-width: 768px) {
    .HomeContainer {
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .Wave {
        min-width: 500px;
    }
}
